html, body, #root, .App{
  height: 100%;
  margin: 0;
}

.contentDiv{
  /* background-color: rgba(100,100,100,0.4); */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 4rem;
  color: white;
}
